
//Hunde
#hunde-header{
    background-image: url(../assets/images/animals/dogs/allgemein.jpg);
}

//Katzen
#katzen-header{
    background-image: url(../assets/images/animals/cats/allgemein.jpg);
}


//vögel
#vogel-header{
    background-image: url(../assets/images/animals/birds/allgemein.jpg);
}
